@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #243F30;
    align-items: center;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}
nav .logo{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li{
    margin: 0 5px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
}

nav .menu-btn i{
    color: #fff;
    cursor: pointer;
    display: none;
}

.point {
    list-style-type: none;
}

#busca {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 4px 15px;
    border-radius: 4px;
    border-color: rgb(41, 41, 41);
    letter-spacing: 1px;
}
.options{
    color: #686868;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 4px 15px;
    border-radius: 4px;
    border-color: rgb(41, 41, 41);
    letter-spacing: 1px;
}

.inicio {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 4px 15px;
    border: none;
    border-radius: 4px;
    background-color: #243F30;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.inicio:hover {
    background-color: #BF9348;
}

.botão {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 4px 15px;
    border: none;
    border-radius: 4px;
    background-color: #243F30;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.botão:hover {
    background-color: #BF9348;
}

@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #305440;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: #BF9348;
    }

    .options {
        width: 66%;
    }

    .inicio {
        width: 66%;
        background-color: none;
    }
    .inicio:hover{
        background-color: #9c7839;
    }
    
    .botão {
        width: 66%;
        background-color: #BF9348;
    }
    .botão:hover{
        background-color: #9c7839;
    }
    
}